<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->



  <div class="fullpage">
    <h1><b>Eligibilty Requirements</b></h1>
    <p class="para"><b>Any healthy adult, both male and female, can donate blood. Men can donate safely once in every 3
      months while women can donate every 4 months</b></p>
    <div class='grid'>
      <div class='grid--item'>
        <div class='img' style='background-image: url(/assets/images/weight-scale.png); background-size: 150px 150px;'>
      </div>
    <div class='container'>
      <h2>Weight</h2>
      <div class='desc'>Donor should be more than 45 kilograms</div>
    </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/plus-18-movie.png); background-size: 150px 150px;'>
      </div>
      <div class='container'>
        <h2>Age</h2>
        <div class='desc'>Donor should be in the age group of 18 to 65</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/heart.png); background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Heart Disease</h2>
        <div class='desc'>Donor should not have any heart diseases</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/pregnant.png); background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Child Birth</h2>
        <div class='desc'>should have delivered 1 year ago and stopped lactation</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/diabetes.png); background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Diabetes</h2>
        <div class='desc'>Donor should not be treated with insulin and injections</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img'
        style='background-image: url(/assets/images/hemoglobin-test-meter.png);  background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Haemoglobin</h2>
        <div class='desc'>Haemoglobin should be more than 12.5 grams</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/pulse.png);background-size: 150px 150px; '></div>
      <div class='container'>
        <h2>Pulse</h2>
        <div class='desc'>Temperature and Pulse should be normal</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/breathing.png);background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Infection</h2>
        <div class='desc'>Donor should not have Hepatitis B, C, Tuberculosis, Leprosy, HIV</div>
      </div>
    </div>

    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/blood-pressure.png); background-size: 150px 150px;'>
      </div>
      <div class='container'>
        <h2>Blood Pressure</h2>
        <div class='desc'>The systolic and diastolic blood pressures are within normal limits</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/cancer.png); background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Cancer</h2>
        <div class='desc'>Should not have any forms of cancer</div>
      </div>
    </div>
  <!-- </div>



  <div class='grid'> -->
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/medicine-drug.png); background-size: 150px 150px;'>
      </div>
      <div class='container'>
        <h2>Drug</h2>
        <div class='desc'>You cannot give blood if injected intravenously, even once</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/mosquito.png); background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Malaria</h2>
        <div class='desc'>Malaria should not have been treated for malaria in last 3 months or 3 years if residing in
          endemic areas</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/robotic-surgery.png); background-size: 150px 150px;'>
      </div>
      <div class='container'>
        <h2>Surgery</h2>
        <div class='desc'>Donor should have undergone any kind of surgery</div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img' style='background-image: url(/assets/images/vaccine.png);  background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Immunization and Vaccination</h2>
        <div class='desc'>Should not have had shots for- Cholera, Typhoid, Diptheria, Tetanus, Plague in last 15 days
          and Rabies vaccination in last one year </div>
      </div>
    </div>
    <div class='grid--item'>
      <div class='img'
        style='background-image: url(/assets/images/medical-checkup.png);  background-size: 150px 150px;'></div>
      <div class='container'>
        <h2>Medication</h2>
        <div class='desc'>Certain medication may be risky to donor or recipient and if you're taking them you will not
          be able to give blood</div>
      </div>
    </div>
  </div>
 </div>



